.me-auto {
    &.navbar-nav{
        .nav-link{
            &.active{
                color: darkblue;
            }
        }
    }
}

.container {
    .navbar-brand {
        &.active {
            color: darkmagenta;
        }
    }
}
.navbar-collapse {
    &.collapse{
        .me-auto {
            &.navbar-nav{
                z-index: 10;
                opacity: 0.8;
                font-size: 18px;
            }
        }
    }
}

.container{
    .navbar-brand {
        font-size: 30px;
    }
}

.navbar-nav{
    .nav-item{
        &.dropdown{
            font-size: 18px;
            opacity: 0.6;
            .dropdown-menu{
                &.show{
                font-size: 15px;
                }
            }
        }
    }
}

.navbar-nav{
    .nav-item{
        &.show{
            &.dropdown{
                .dropdown-toggle{
                    &.show{
                        &.nav-link{
                            color: blue;
                        }
                    }
                }
            }
        }   
    }
}





